@font-face {
  font-family: 'Righteous';
  src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

html {
  font-size: 16;
}

body {
  /* Add background color to all rows and columns */
  background-color: #3FC1FD;
}

.container {
  border: 2px white solid;
}

.row {
  border: 2px red solid;
}

[class*="col"] {
  border: 2px blue solid;
}

#title {
  font-family: 'Righteous';
  font-size: 35px;
  color: #3663FF;
}